[submodule "fits_io"]
	path = fits_io
	url = https://github.com/BennyGinger/fits_io.git
	branch = main
[submodule "cellpose_kit"]
	path = cellpose_kit
	url = https://github.com/BennyGinger/Cellpose-kit.git
	branch = fits
[submodule "progress_bar"]
	path = progress_bar
	url = https://github.com/BennyGinger/Progress_bar.git
	branch = fits
[submodule "tracklink"]
	path = tracklink
	url = https://github.com/BennyGinger/tracklink.git
[submodule "bg_sub"]
	path = bg_sub
	url = https://github.com/BennyGinger/bg_sub.git
[submodule "stackalign"]
	path = stackalign
	url = https://github.com/BennyGinger/stackalign.git
[submodule "labelquant"]
	path = labelquant
	url = https://github.com/BennyGinger/labelquant.git
[submodule "mask_interpolation"]
	path = mask_interpolation
	url = https://github.com/BennyGinger/mask_interpolation.git
[submodule "spatialprofile"]
	path = spatialprofile
	url = https://github.com/BennyGinger/spatialprofile.git
[submodule "bioimagequant"]
	path = bioimagequant
	url = https://github.com/BennyGinger/bioimagequant.git
