[submodule "fits_io"]
	path = fits_io
	url = https://github.com/BennyGinger/fits_io.git
	branch = main
[submodule "cellpose_kit"]
	path = cellpose_kit
	url = https://github.com/BennyGinger/Cellpose-kit.git
[submodule "progress_bar"]
	path = progress_bar
	url = https://github.com/BennyGinger/Progress_bar.git
	branch = fits
[submodule "fits_server"]
	path = fits_server
	url = https://github.com/BennyGinger/cp_server.git
	branch = fits
