[submodule "fits_io"]
	path = fits_io
	url = https://github.com/BennyGinger/fits_io.git
	branch = main
[submodule "Progress_bar"]
	path = Progress_bar
	url = https://github.com/BennyGinger/Progress_bar.git
